@import "kpmp-base.scss";
@import "../node_modules/kpmp-common-styles/index.scss";

#navbar .navbar-brand img.logo {
    width: 80px;
    min-width: 80px;
}

.vitessce-container {
    .card-body {
        background-color: #FAFBFC !important;
    }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #color;
}

.table th {
    white-space: nowrap;
}

#vitessce-container {
    height: auto;
    background: #fff;
    .react-grid-layout {
        position: relative;
    }
}

.btn-link:hover {
    text-decoration: none;
}

.title > span.details > span > button:first-child {
    display: none;
}

.title > span.details > span > button:last-child {
    display: none;
}

.layer-controller-container > div:last-child > button {
    display: none;
}

th[title='Acquisition Date'] {
    display:none;
}

th[title='Pixels Type'], th[title='Pixels Type'] + td {
    display:none;
}

.icon-info {
    color: #0275d8;
    cursor: pointer !important;
}

.tooltip-parent {
    z-index: 10;
    cursor: pointer;
    white-space: normal;
    position: absolute;
    background-color: #fff;
    display: none;
    width: 10rem;
}

.icon-info:hover + .tooltip-parent {
    display: block;
}

.icon-row .col {
    max-width: 90%;
}

