@import "kpmp-base.scss";
@import "../node_modules/kpmp-common-styles/index.scss";

#navbar .navbar-brand img.logo {
    width: 80px;
    min-width: 80px;
}

.vitessce-container {
    .card-body {
        background-color: #FAFBFC !important;
    }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #color;
}

.table th {
    white-space: nowrap;
}

.filter-panel-wrapper {
    contain: content;
}

.filter-panel-tab-wrapper {
    position: fixed;
    width: 100%;
}

.spatial-filter-panel {
    min-height: 450px;
    margin-top: 3.5rem !important;
    border-top-left-radius: 0px !important;
}

.filter-tab-control-icon {
    float: right;
    background-color: rgba(1,1,1,0) !important;
}

.filter-tab {
    margin-top: 1rem !important;
    text-align: center;
    background-color: rgba(1,1,1,0);
    border: 0px !important;
    width:auto;
    padding: 10px;
    display: inline-block;
    height: 41px;

    cursor: pointer;
}
.filter-tab.active {
    background-color: white;
    border: 1px solid #dee2e6 !important;
    border-bottom: 0px solid black !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.spatial-data-table {
    height: 45vh;
    overflow: auto;
    position: relative;
    padding-bottom: 80px;
}

.spatial-data-table thead th {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #fff;
}

.spatial-data-table .filter-list {
    top: 223%;
    background-color: #fff;
}

#vitessce-container {
    height: auto;
    background: #fff;
    .react-grid-layout {
        position: relative;
    }
}

.btn-link:hover {
    text-decoration: none;
}

th[title='Acquisition Date'] {
    display:none;
}

th[title='Pixels Type'], th[title='Pixels Type'] + td {
    display:none;
}

.title-buttons > div:nth-last-child(3) > button{
    display: none
}

.title-buttons > button:last-child {
    display: none
}

.layer-controller-container .MuiButtonBase-root-12 .MuiIconButton-root-3 {
    top: -15.4px;
}

.icon-info {
    color: #0275d8;
    cursor: pointer !important;
    font-size: 14px;
}


tr:nth-last-of-type(1) .tooltip-parent,
tr:nth-last-of-type(2) .tooltip-parent,
tr:nth-last-of-type(3) .tooltip-parent {
    cursor: pointer !important;
    font-size: 14px;
    margin-bottom: -7.75rem !important;
    margin-left: 2rem !important;

}
.tooltip-parent {
    z-index: 10;
    cursor: pointer;
    white-space: normal;
    position: absolute;
    background-color: #fff;
    display: none;
    width: 10rem;
}

.icon-info:hover + .tooltip-parent {
    display: block;
}

.icon-row .col {
    max-width: 90%;
}


.participant-id {
    min-width: 120px;
    width: 120px;
    max-width: 120px;
}

.data-type {
    min-width: 155px;
    width: 155px;
    max-width: 155px;
}

.tissue-type {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
}

.image-type {
    min-width: 350px;
    width: 350px;
    max-width: 350px;
}

.level {
    min-width: 80px;
    width: 80px;
    max-width: 80px;
}
.source-file {
    min-width: 380px;
    width: 380px;
    max-width: 380px;
}
@media only screen and (max-width: 1200px) {
   .image-type {
        width: 300px;
        max-width: 300px;
    }

    .participant-id {
        min-width: 120px;
        width: 120px;
        max-width: 120px;
    }

    .data-type {
        min-width: 200px;
        width: 200px;
        max-width: 200px;
    }

    .tissue-type {
        min-width: 100px;
        width: 100px;
        max-width: 100px;
    }

    .level {
        min-width: 80px;
        width: 80px;
        max-width: 80px;
    }
    .source-file {
        min-width: 450px;
        width: 450px;
        max-width: 450px;
    }
}


//This hides the tooltip info icon on the column selector
.dropdown-item {
    .tooltip-icon {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    .activeFilter-colulmn {
        padding: 1rem 3rem !important
    }
}

.activeFilter {
    background-color: white;
    padding: 10px;
    margin-right: 1%;
    margin-bottom: 1%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.activeFilter .close-button {
    text-align: center;
}

.container-xxl {
    max-width: 97%;
}
.container-max {
    max-width: 100%;
}
.filter-collapse {
    position: relative;
    top: 30px;
    flex: 0 0 4.33%;
    max-width: 4.33%;
}

.clickable {
    cursor: pointer;
}